<div>
    <div data-dojo-attach-point="jzPwdDialogPane" class='jz-contrast-dialog-pane'>
        <div data-dojo-attach-point='titleBar' class='jz-titlebar'>
            <span data-dojo-attach-point='titleNode' class='jz-contrast-dialog-title'></span>
            <span data-dojo-attach-point='closeButtonNode' class='jz-close-button'
                  data-dojo-attach-event='ondijitclick: onCancel' title='关闭'>
                <span data-dojo-attach-point='closeText' class='closeText' title='关闭'>X</span>
            </span>
        </div>
        <div data-dojo-attach-point='containerNode' class='jz-contrast-dialog-content'>
            <div class="jz-contrast-content">
                <iframe frameborder='0' width='100%' height='100%' scrolling='no' src='../pages/HistoryContrast.aspx'></iframe>
            </div>
        </div>
        <div class="jz-contrast-underlay"></div>
    </div>
</div>
