<div>
    <div data-dojo-attach-point="jzNotifyDialogPane" class='jz-edit-dialog-pane'>
        <div data-dojo-attach-point='titleBar' class='jz-titlebar'>
            <span data-dojo-attach-point='titleNode' class='jz-edit-dialog-title'></span>
            <span data-dojo-attach-point='closeButtonNode' class='jz-close-button'
                  data-dojo-attach-event='ondijitclick: onCancel' title='关闭'>
                <span data-dojo-attach-point='closeText' class='closeText' title='关闭'>X</span>
            </span>
        </div>
        <div data-dojo-attach-point='containerNode' class='jz-edit-dialog-content'>
            <div data-dojo-attach-point='jzEditContent' style="position:absolute;top:40px;left:10px;right:10px;bottom:10px;">

            </div>
        </div>
    </div>
    <div class="jz-edit-underlay"></div>
</div>

