<div>
    <div data-dojo-attach-point="jzLegendDialogPane" class='jz-legend-dialog-pane'>
        <div data-dojo-attach-point='titleBar' class='jz-titlebar'>
            <span data-dojo-attach-point='titleNode' class='jz-legend-dialog-title'>图例</span>
            <span data-dojo-attach-point='jzMinimalNode' class='jz-small-button' data-dojo-attach-event='ondijitclick: onMinimal' title='最小化' style="display:none;">
            </span>
            <span data-dojo-attach-point='jzMaxNode' class='jz-large-button' data-dojo-attach-event='ondijitclick: onMaximum' title='最大化'>
            </span>
        </div>
        <div data-dojo-attach-point='containerNode' class='jz-legend-dialog-content'>

        </div>
    </div>
</div>

