<div class='jz-measure-dialog-pane'>
	<div data-dojo-attach-point='titleBar' class='jz-titlebar'>
		<span data-dojo-attach-point='titleNode' class='jz-measure-dialog-title'></span>
		<span data-dojo-attach-point='closeButtonNode' class='jz-close-button' 
		data-dojo-attach-event='ondijitclick: onCancel' title='关闭'>
			<span data-dojo-attach-point='closeText' class='closeText' title='关闭'>X</span>
		</span>
	</div>
	<div data-dojo-attach-point='containerNode' class='jz-measure-dialog-content'>
	</div>
</div>

