<div>
    <div data-dojo-attach-point="jzPwdDialogPane" class='jz-pwd-dialog-pane'>
        <div data-dojo-attach-point='titleBar' class='jz-titlebar'>
            <span data-dojo-attach-point='titleNode' class='jz-pwd-dialog-title'></span>
            <span data-dojo-attach-point='closeButtonNode' class='jz-close-button'
                  data-dojo-attach-event='ondijitclick: onCancel' title='关闭'>
                <span data-dojo-attach-point='closeText' class='closeText' title='关闭'>X</span>
            </span>
        </div>
        <div data-dojo-attach-point='containerNode' class='jz-pwd-dialog-content'>
            <table>
                <tr>
                    <td colspan="2">
                        <div data-dojo-attach-point='pwdErrorSum' class="alert alert-danger" role="alert" style="display:none;padding:10px;margin-bottom:0;">
                            发生错误：两次密码输入不一致！
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align='right'>
                        <label>旧密码：</label>
                    </td>
                    <td>
                        <input data-dojo-attach-point="jzOldPwd" class='form-control' type='password'>
                    </td>
                </tr>
                <tr>
                    <td align='right'>
                        <label for='jzNewPsd'>新密码：</label>
                    </td>
                    <td>
                        <input data-dojo-attach-point="jzNewPwd" class='form-control' type='password'>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for='jzReNewPsd'>再次输入：</label>
                    </td>
                    <td>
                        <input data-dojo-attach-point="jzReNewPwd" class='form-control ' type='password'>
                    </td>
                </tr>
                <tr>
                    <td align='right' colspan='2'>
                        <button data-dojo-attach-point="jzBtnCommit" data-dojo-attach-event="ondijitclick: onChangePwd" class='btn btn-primary' disabled>确定修改</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="jz-pwd-underlay"></div>
</div>

