<div>
    <div class='jz-street-dialog-pane'>
        <div data-dojo-attach-point="jzStreetDialogContent">
            <iframe id='returnToMapFrame' src='street/street-return.html' width='90' height='30' style='border-radius: 5px; position: absolute; z-index: 999999; margin-top: 30px; margin-left: 30px;'
                    frameborder='no' border='0' marginwidth='0' marginheight='0' scrolling='no'
                    allowtransparency='yes'></iframe>
            <div data-dojo-attach-point='jzStreetObject'>
                <iframe id='streetMapFrame' src='street/street-map.html' width='100%' height='100%' style='border-radius: 5px; position: absolute; z-index: 999999; margin-top: 30px; margin-left: 30px;'
                        frameborder='no' border='0' marginwidth='0' marginheight='0' scrolling='no'
                        allowtransparency='yes'></iframe>
            </div>
            <div id='jz-street-map' class='jz-street-map'>
                <iframe id='streetMapFrame' src='street/street-foot.html' width='100%' height='100%'
                        style='position: absolute; z-index: 999999; bottom: 0px; left: 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px;'
                        frameborder='no' border='0' marginwidth='0' marginheight='0' scrolling='no'
                        allowtransparency='yes'></iframe>
            </div>
        </div>
    </div>
</div>