<div class="jz-progress-wrapper">
    <div data-dojo-attach-point="jzUploadProgressTitle" class="jz-progress-title">
        <span data-dojo-attach-point='titleNode' style="margin-left:10px;">文件上传</span>
        <span style="float:right;margin-right:10px;">
            <span class='closeText' title='关闭' style="background: url(images/sprite.gif); background-position: 0 -177px; ">
            </span>
            <span data-dojo-attach-point='closeText' class='closeText' title='关闭'>
            </span>
        </span>
    </div>
    <div data-dojo-attach-point='containerNode' class="jz-progress-container">
    </div>
</div>
