<?xml version="1.0"?>
<siteconfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <webname>GIS Permission Management System</webname>
  <webcompany>北京市园林绿化资源动态监管系统</webcompany>
  <weburl>http</weburl>
  <webtel>xxxxxxxx</webtel>
  <webfax>-</webfax>
  <webmail>xxxxx@qq.com</webmail>
  <webcrod>京ICP备000001号</webcrod>
  <webtitle>权限管理系统</webtitle>
  <webkeyword>权限管理系统,</webkeyword>
  <webdescription>权限管理系统</webdescription>
  <webcopyright>版权所有 权限管理系统 © Copyright 20014 - 2016. 北京市园林绿化局信息中心.</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="#" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <logstatus>1</logstatus>
  <exceptionstatus>1</exceptionstatus>
  <emailstmp>smtp.qq.com</emailstmp>
  <emailport>25</emailport>
  <emailfrom>xx@qq.com</emailfrom>
  <emailusername>xx@qq.com</emailusername>
  <emailpassword>123456</emailpassword>
  <emailnickname>App</emailnickname>
  <attachpath>upload</attachpath>
  <attachextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</attachextension>
  <attachsave>2</attachsave>
  <attachfilesize>51200</attachfilesize>
  <attachimgsize>10240</attachimgsize>
  <attachimgmaxheight>800</attachimgmaxheight>
  <attachimgmaxwidth>800</attachimgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>1</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>ymnets</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <templateskin>blue</templateskin>
  <sysdatabaseprefix>Sys_</sysdatabaseprefix>
  <sysencryptstring>App</sysencryptstring>
  <webimstatus>1</webimstatus>
  <refreshcurrentwin>10000</refreshcurrentwin>
  <refreshrecentcontact>30000</refreshrecentcontact>
  <refreshnewmessage>20000</refreshnewmessage>
  <taskstatus>1</taskstatus>
  <globalexceptionstatus>1</globalexceptionstatus>
  <globalexceptionurl>/SysException/Error</globalexceptionurl>
  <issinglelogin>0</issinglelogin>
</siteconfig>