<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="E9_Entity" type="NM.Config.ServiceProviderConfigSection, NM.Server.Util" /> 
   </configSections>
  <connectionStrings>
    <add name="ConnectionString_EAP" connectionString="Data Source=ORCL; User ID=eap; Password=123456;" providerName="ORACLE.DATAACCESS.CLIENT" />
    <add name="ConnectionString_SDE" connectionString="Data Source=ORCL; User ID=sde; Password=SDE;" providerName="ORACLE.DATAACCESS.CLIENT" />
  </connectionStrings>
  <appSettings>
    <add key="IsCADebug" value="1" />
    <add key="username" value="syllhjxxjx"/>
    <add key="password" value="syllhjxxjx123"/>
  </appSettings>
  <E9_Entity>
    <providers>
      <clear />
      <add name="E9_EAP" Category="EAP" AssemblyName="NM.Server.Util" type="NM.Config.ServiceProvider, NM.Server.Util" />
      <add name="GIS_Models" Category="GIS" AssemblyName="GIS.Models" type="NM.Config.ServiceProvider, NM.Server.Util" />
    </providers>
  </E9_Entity>
  <system.web>
    <httpRuntime maxRequestLength="40980" useFullyQualifiedRedirectUrl="true" executionTimeout="6000" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="Oracle.DataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342" />-->
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?"></deny>
    </authorization>
  </system.web>
  <location path="webservice/WebServiceAddin.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="webservice/WebServiceMap.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="receiveticket.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="soso_error.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>  
  <system.webServer>
    <!--
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="text/json" />
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

    <!--<appSettings>
        <add key="VecLayer" value="http://10.246.0.81:9000/service/ImageEngine/picdis/abc?SERVICE=WMTS&REQUEST=GetTile&version=1.0.0&LAYER=Shiliang_2013&style=default&format=image/png&TileMatrixSet=nativeTileMatrixSet&TILEMATRIX=3&TILEROW=11&TILECOL=19&username=syllhjxxjx&password=syllhjxxjx123"/>
        <add key="ImgLayer" value="soundbbg@live.cn"/>
        <add key="CLayer" value="http://10.246.0.83:6080/arcgis/rest/services/basemap/img/MapServer/tile"/>
    </appSettings>-->
</configuration>